.todos-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 36rem;

  & .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  & .container {
    display: flex;
    flex-direction: column;
  }

  & .subtitle {
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: 0.5;
    margin-top: 0.5rem;
  }

  & form {
    display: flex;
    margin-top: 1rem;
  }

  & ul {
    display: flex;
    flex-direction: column;
  }

  & .add-button {
    border-radius: 0.25rem;
    padding: 0.5rem 0.7rem;
    background-color: #2563eb;
    color: white;
    margin-left: 0.5rem;

    &:disabled {
      opacity: 0.5;
    }
  }
}
